


.footer{
    margin: 0px auto;
    padding:20px,0px; 
    background-color: #D1C4E9;
    height: fit-content;
   
}

.btn-facebook {color:#fff!important; background-color:#3b5998!important;margin-left: 3px;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;margin-left: 3px;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;margin-left: 3px;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;margin-left: 3px;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;margin-left: 3px;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;margin-left: 3px;}