<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Started in 2018, U-Developer Company quickly established itself as a web development icon par excellence in Pakistan. With its unique Service like fast delivery & client Satisfication.</p>
        <p> Our main achivement is client's trust, To know more about us please feel free to contact us.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>4 Feb. 2018</dd>
              <dt>Owner</dt>
              <dd>Umer Fiaz</dd>
              <dt>Status</dt>
              <dd>New</dd>
              <dt>Rating</dt>
              <dd>4/5</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>What separates design from art is that design is meant to be... functional.</h3>
        <footer>― cameron moll,
          <cite> <a href="https://www.goodreads.com/quotes/tag/web-design">https://www.goodreads.com/quotes/tag/web-design</a></cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>
</div>